.name {
    display: inline;
    font-size: 30px;
}

.emojies img{
    width: 45px;
    height: 45px;
    padding-right: 5px;
}

.settings {
    padding-top: 10px;
}

/* .settings span:nth-child(2){
    float: right;
} */

/* span progress {
    height: 40px;
} */

.progress {
    height: 40px;
}

.remove-card {
    display: inline;
    cursor: pointer;
    font-size: 25px;
}

.remove-card:hover {
    color: red;
}

