.add-button {
    bottom: 0%;
    height: 80px;
    padding-bottom: 10px;
    background-color: #ec5656;
}

.circle {
    position: absolute; 
    top: 0%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 100px; 
    width: 150px; 
    border-radius: 150px 150px 0 0; 
    background-color: #ec5656; 
}

.modal {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  
    .modal-main {
      position:fixed;
      min-height: 700px;

      background: white;
      height: auto;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  