.card-container {
    padding-bottom: 10px;
}

.card {
    background-color: #d5d6dc;
    /* width: 300px; */
    /* column-count: 2; */
}

.cards-list {
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}

.image {
    display: inline-block;
}

.card-properties {
    display: inline-block;
}